.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #181c1f;
  color: #fff;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
